@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans+Mono);

body {
	background-color: #606060;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	margin-left: 0px;
	font-family: droid serif;
}

h1 {
	text-align: center;
}

a {
	color: #fff;
}

pre, code, textarea {
	font-family: droid sans mono;
}

#menu {
	position: fixed;
	left: 0px;
	top: 80px;
	width: 180px;
	margin: 0;
	padding: 0px;
	list-style-type: none;
}

#menu a {
	display: block;
	text-decoration: none;
	padding-left: 10px;
	background-color: #000;
	line-height: 200%;
}

#menu li:first-child a {
	border-radius: 0 10px 0 0;
}

#menu li:last-child a {
	border-radius: 0 0 10px 0;
}

#menu a.active {
	background-color: transparent;
}

#menu a:hover {
	background-color: #333;
}


#content {
	margin-left: 200px;
}

#footer {
	margin-top: 1em;
	text-align: center;
	font-size: smaller;
}

.example {
	margin: 0.5em 0;
	border-bottom: 1px dotted #000;
	padding-left: 1.1em;
}

.example .code {
	width: 650px;
	background-color: #777;
	display: inline-block;
	margin: 0;
	border: none;
	padding: .5em;
	border-left: 2px dotted #3e3;
	border-radius: 0 10px 10px 0;
	min-height: 40px;
}

.example pre.code {
	cursor: pointer;
}

.example textarea.code {
	color: #000;
	background-color: #eee;
	text-shadow: none;
}

.example .result {
	border-left: 2px dotted #e33;
	font-family: droid sans mono;
	margin: 0;
	padding: .5em;
	min-height: 50px;
	position: relative;
}

.example .result:before, .example:before {
	position: absolute;
	font-family: droid serif;
	text-transform: uppercase;
	text-shadow: -1px 0px 0px #000;
	
	transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	
	transform: translate(-100%, -100%) rotate(-90deg);
	-o-transform: translate(-100%, -100%) rotate(-90deg);
	-ms-transform: translate(-100%, -100%) rotate(-90deg);
	-moz-transform: translate(-100%, -100%) rotate(-90deg);
	-webkit-transform: translate(-100%, -100%) rotate(-90deg);
}

.example:before {
	content: "input";
}

.example .result:before {
	content: "output";
	left: -2px;
	top: 2px;
}

.example .time {
	text-align: right;
	font-size: smaller;
}
